body {
    font-family: orbitron;
}

/* Navigation bar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /* position: absolute;
    left: 103px;
    top: 35px; */
}

.list {
    display: flex;
    width: 455px;
    justify-content: space-around;
    align-items: center;

}

.button-group {
    display: flex;
    width: 200px;
    justify-content: start;
    justify-content: space-between;
}

.nav-button {
    width: 145px;
    height: 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
}

.button-group {
    display: flex;
}

ul li {
    list-style: none;
    /* margin: 0 30px; */
}

ul li:first-child {
    font-weight: bold;
    font-size: 20px;
}


.hero-container-right {
    position: absolute;
    float: right;
    top: 210px;
    right: 190px;
    text-align: center;

}

h1 {
    font-size: 45px;
    font-stretch: expanded;
    letter-spacing: 2px;
}

.hero-img {
    position: absolute;
    top: 155px;
    width: 20px;
    height: auto;
    left: 104px;
}

.container {
    margin: 5px;
    padding: 5px;
}

.square {
    position: absolute;
    left: 174px;
    top: 290px;
}

.globe {
    position: absolute;
    right: 658px;
    top: 119px;
}

.star {
    position: absolute;
    right: 108px;
    top: 159px;
}

p {
    position: absolute;
    top: 114px;
    width: 550px;
    right: 52px;
    font-family: supra-bold;
    color: #716b6b;
}

.imp-btn {
    position: absolute;
    top: 240px;
    left: 141px;

}

/* Buttons */

.button-email {
    border-radius: 8px;
    width: 180px;
    height: 33px;
    border: 1px solid black;
    font-family: orbitron;
    background-color: white;
    font-size: 18px;
    color: #3e3939;
}

.button-join {
    border-radius: 8px;
    width: 110px;
    height: 39px;
    background-color: black;
    color: white;
    font-family: orbitron;
    font-size: 15px;
}

/* footer section */

.footer {
    position: absolute;
    text-align: center;
    top: 304px;
    left: 164px;
    color: #6c6767;
}